<section class="bg-grad p-4 p-sm-5">
	<div class="container">
		<div class="d-block all-text-white">
			<div class="text-center">
				{% for page in site.data.home_page.home_page %}
				<h3 class="m-0" style="color:#343a40;">{{ page.organization_goal }}</h3>
				{% endfor %}

			</div>
		</div>
	</div>
</section>

<!-- =======================
	footer  -->
<footer class="footer pt-6">
	<div class="footer-content pb-3">
		<div class="container">
			<div class="row">
				<!-- Footer widget 1 -->
				<div class="col-md-4">
					<div class="widget">
						<a href="{{'/' | prepend:site.baseurl }}" class="footer-logo">
							<image src="assets/images/banner/Full_Logo_Colour.jpg">
								<!-- footer SVG logo End -->
						</a>
					</div>
				</div>
				<!-- Footer widget 2 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget address"
						style="background-image: url('assets/images/world-map.png'); background-position: 50% 20px; background-repeat: no-repeat; background-size: contain;">
						<ul class="list-unstyled">
							{% for contact in site.data.contacts.contacts %}
							<li class="media mb-3"><i class="mr-3 display-8 ti-headphone-alt"></i>
								{{ contact.telephone }}</li>
							<li class="media mb-3"><i class="mr-3 display-8 ti-email"></i> {{ contact.email }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<!-- Footer widget 3 -->
				<div class="col-md-2 col-sm-6">
					
				</div>
				<!-- Footer widget 4 -->
				<div class="col-md-3">
					<div class="widget bg-grad p-4 border-radius-3">
						<i class="ti-email newsletter-icon"></i>
						<div class="form-group mb-0">
							<button class="btn btn-dark mb-0">Join us</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer widget 4 -->
		</div>
	</div>
	<div class="divider mt-3"></div>
	<!--footer copyright -->
	<!-- footer copyright -->
	<div class="footer-copyright py-3">
		<div class="container">
			<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
				<!-- copyright text -->
				<div class="copyright-text">2020 All Rights Reserved by <a href="{{'/' | prepend:site.baseurl }}">
						Community Health West London.</a></div>
				<!-- copyright links-->
				<div class="copyright-links primary-hover mt-3 mt-md-0">
					<ul class="list-inline">
						<li class="list-inline-item pl-2"><a class="list-group-item-action"
								href="{{'/' | prepend:site.baseurl }}">Home</a></li>
						<li class="list-inline-item pl-2"><a class="list-group-item-action pr-0"
								href="/about">About us</a></li>
						<li class="list-inline-item pl-2"><a class="list-group-item-action"
								href="/residents">Residents</a></li>
						<li class="list-inline-item pl-2"><a class="list-group-item-action"
								href="/health-professionals">Health Professionals</a></li>
						<li class="list-inline-item pl-2"><a class="list-group-item-action" href="/news-items">News</a></li>
						<li class="list-inline-item pl-2"><a class="list-group-item-action" href="/work-with-us">Work with us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
footer  -->



<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

<!--Global JS-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!--Vendors-->
<script src="assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>
<script src="assets/vendor/jquery-countTo/jquery.countTo.js"></script>
<script src="assets/vendor/jquery-appear/jquery.appear.js"></script>
<script src="assets/vendor/wavify/wavify.js"></script>

<!--Template Functions-->
<script src="assets/js/functions.js"></script>