<!-- Logo Nav Start -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" >
        <!-- Logo -->
        <a class="navbar-brand" href="{{'/' | prepend:site.baseurl }}" >
            <!-- Logo Start -->
            <div >
                <image style="height: 60px;" src="assets/images/banner/Full_Logo_Colour.png"></image>
            </div>
            <!-- Logo End -->
        </a>
        <!-- Menu opener button -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"> </span>
      </button>
        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <!-- Menu item 1 Demos-->
                {% include navlinks.html %}
            </ul>
        </div>
    </div>
</nav>
<!-- Logo Nav End -->
