<!-- Menu item 1 Demos-->
<li class="nav-item">
    <a class="nav-link" href="/" id="demosMenu" >Home</a>
</li>
<!-- Menu item 3 Pages-->
<li class="nav-item ">
    <a class="nav-link " href="/residents" id="pagesMenu">Residents</a>
</li>

<!-- Menu item 2 Blog-->
<li class="nav-item ">
    <a class="nav-link " href="/health-professionals" id="blogMenu">Health professionals</a>
</li>

<!-- Menu item 3 Pages-->
<li class="nav-item ">
    <a class="nav-link " href="/our-partners">Our partners</a>
</li>

<!-- Menu item 5 Docs-->
<li class="nav-item ">
    <a class="nav-link" href="/contact-us" id="docMenu">Contact Us</a>
</li>