<!-- Menu item 1 Demos-->
<li class="nav-item">
    <a class="nav-link" href="{{'/' | prepend:site.baseurl }}" id="home" >Home</a>
</li>
<!-- Menu item 3 Pages-->
<li class="nav-item ">
    <a class="nav-link " href="{{ "/residents" | prepend:site.baseurl }}" id="residents">Residents</a>
</li>

<!-- Menu item 2 Blog-->
<li class="nav-item ">
    <a class="nav-link " href="{{"/health-professionals" | prepend:site.baseurl }}" id="health-professionals">Health professionals</a>
</li>

<!-- Menu item 3 Pages-->
<li class="nav-item ">
    <a class="nav-link " href="{{"/our-partners" | prepend:site.baseurl }}">Partners</a>
</li>

<!-- Menu item 3 Pages-->
<li class="nav-item ">
    <a class="nav-link " href="{{"/news-items" | prepend:site.baseurl }}">News</a>
</li>

<!-- Menu item 5 Docs-->
<li class="nav-item ">
    {% for page_object in site.data.extra_page.extra_page %}
        {% if page_object.display %}
            <a class="nav-link" href="{{"extra-page" | prepend:site.baseurl }}" id="contact-us">{{ page_object.title }} </a>
        {% endif %}
	{% endfor %}
</li>