<div class="post-item">
    <div class="post-item-wrap">
        <div class="post-image">
            <a href="{{"news-article" | prepend:site.baseurl }}"> <img src="assets/images/blog/grid/01.jpg" alt=""> </a>
            <span class="post-meta-category bg-grad"><a href="#">Blog Image</a></span>
        </div>
        <div class="post-item-desc">
            <span class="post-meta">Jan 21,</span>
            <span class="post-meta"><a href="#">Admin,</a></span>
            <span class="post-meta"><a href=""><i class="ti-comment-alt"></i>06 Comments</a></span>
            <h4><a href="{{"news-article" | prepend:site.baseurl }}">The Stories Behind those Iconic Blogs</a></h4>
            <p>Six started far placing saw respect females old. <strong>Civilly why how end viewing</strong> attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day.</p>
            <a href="#" class="item-link">Continue reading<i class="ti-minus"></i></a>
        </div>
    </div>
</div>