<!doctype html>
<html lang="en">
{% include header.html %}

<body>
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	<header class="header-static navbar-sticky navbar-light">
		<!-- Search -->
		<div class="top-search collapse bg-light" id="search-open" data-parent="#search">
			<div class="container">
				<div class="row position-relative">
					<div class="col-md-8 mx-auto py-5">
						<form>
							<div class="input-group">
								<input class="form-control border-radius-right-0 border-right-0" type="text" name="search" autofocus placeholder="What are you looking for?">
								<button type="button" class="btn btn-grad border-radius-left-0 mb-0">Search</button>
							</div>
						</form>
						<p class="small mt-2 mb-0"><strong>e.g.</strong>KCSC, Social Prescribing </p>
					</div>
					<a class="position-absolute top-0 right-0 mt-3 mr-3" data-toggle="collapse" href="#search-open"><i class="fa fa-window-close"></i></a>
				</div>
			</div>
		</div>
		<!-- End Search -->

		<!-- Navbar top start-->
		{% include navbar_top.html %}
		<!-- Navbar top End-->

		<!-- Logo Nav start-->
		{% include logonav.html %}
		<!-- Logo Nav End-->
		
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	About us -->
	

	<!-- =======================
	Banner innerpage -->
	<!-- =======================
	contact -->
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h2>How can we assist you?</h2>
						<p>For any enquiries you can contact us directly using the information provided on this page.</p>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-3 mb-5">
					<div class="contact-box h-100 bg-overlay-dark-7 px-3 py-4" style="background:url(assets/images/bg/04.jpg) no-repeat; background-size: cover; background-position: center center; ">
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-map-alt"></i></div>
							<h5 class="mb-2">Address</h5>
							{% for contact in site.data.contacts.contacts %}
								<p>{{ contact.address }} </p>
							{% endfor %}
						</div>
						<!-- Email -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-email"></i></div>
							<h5 class="mb-2">E-mail</h5>
							{% for contact in site.data.contacts.contacts %}
								<p>{{ contact.email }} </p>
							{% endfor %}
						</div>
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-panel"></i></div>
							<h5 class="mb-2">Phone</h5>
							{% for contact in site.data.contacts.contacts %}
								<p>{{ contact.telephone }} </p>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- google map -->
				<div class="col-md-1 mb-5">
					<!-- <div class="h-100">
						<div class="contact-map overflow-hidden">
							<div class="map-wrapper" id="map-silver" data-lat="-37.817274" data-lng="144.955914" data-string="121 King Street, Melbourne
							Victoria 3000 Australia" data-zoom="10"></div>
						</div>
					</div> -->
				</div>
				<!-- contact form -->
				<div class="col-md-6">
					<div class="h-100">
						<h3>Have a question? Let's get social!</h3>
						<p>Get in touch with us to see how we can help you</p>
						<form class="contact-form" id="contact-form" name="contactform" action="https://formspree.io/mlewqpep" method="POST">
							<!-- Start form message -->
							<div class="row">
								<div class="col-12">
									<div class="alert alert-success contact-msg" style="display: none" role="alert">
										Your message was sent successfully.
									</div>
								</div>
							</div>
							<!-- End form message -->

							<!-- Start main form -->
							<div class="row">
								<div class="col-md-6">
									<!-- name -->
									<span class="form-group">
										<input id="con-name" name="name" type="text" class="form-control" placeholder="Name">
									</span>
								</div>
								<div class="col-md-6">
									<!-- email -->
									<span class="form-group">
										<input id="con-email" name="email" type="email" class="form-control" placeholder="E-mail">
									</span>
								</div>
								<div class="col-md-12">
									<!-- Subject -->
									<span class="form-group">
										<input id="con-subject" name="subject" type="text" class="form-control" placeholder="Subject">
									</span>
								</div>
								<div class="col-md-12">
									<!-- Message -->
									<span class="form-group">
										<textarea id="con-message" name="message" cols="40" rows="6" class="form-control" placeholder="Message"></textarea>
									</span>
								</div>
								<input type="hidden" name="_next" value="https://kind-roentgen-d4d11e.netlify.app/thanks.html" />
								<input type="text" name="_gotcha" style="display:none" />
								<!-- submit button -->
								<div class="col-md-12 text-center"><button class="btn btn-dark btn-block">Send Message</button></div>
							</div>
							<!-- End main form -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include footer.html %}

</body>
</html>