<!doctype html>
<html lang="en">
	{% include header.html %}
<body>
	<!-- <div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div> -->

<!-- =======================
	header Start-->
	<header class="navbar-sticky navbar-transparent navbar-primary">
		<!-- Search -->
		<div class="top-search collapse bg-light" id="search-open" data-parent="#search">
			<div class="container">
				<div class="row position-relative">
					<div class="col-md-8 mx-auto py-5">
						<form>
							<div class="input-group">
								<input class="form-control border-radius-right-0 border-right-0" type="text" name="search" autofocus placeholder="What are you looking for?">
								<button type="button" class="btn btn-grad border-radius-left-0 mb-0">Search</button>
							</div>
						</form>
						<p class="small mt-2 mb-0"><strong>e.g.</strong>CIC, Social prescribing</p>
					</div>
					<a class="position-absolute top-0 right-0 mt-3 mr-3" data-toggle="collapse" href="#search-open"><i class="fa fa-window-close"></i></a>
				</div>
			</div>
		</div>
		<!-- End Search -->

		<!-- Logo Nav Start -->
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<!-- Logo -->
				<a class="navbar-brand" href="{{'/' | prepend:site.baseurl }}">
					<!-- SVG Logo Start -->
					<!-- SVG Logo End -->
				</a>
				<!-- Menu opener button -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"> </span>
			  	</button>
				<!-- Main Menu Start -->
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						{% include navlinks.html %}
					</ul>
				</div>
				<!-- Main Menu End -->
				
			</div>
		</nav>
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	Main Banner -->
	<section class="p-0 position-relative height-900-responsive ie-height-800 pattern-overlay-1 overflow-hidden">
		<div class="container d-flex h-100">
			<div class="row align-self-center w-100">
				<!-- banner Content -->
				<div class="col-md-6 mt-md-0 all-text-white" >
					<!-- <image style="overflow:visible;" width="115%" height="120%" id="XMLID_82_" xlink:href="assets/images/banner/32.jpg"  transform="matrix(0.9999 0 0 0.9999 8.063897e-002 6.401104e-002)"></image> -->
					<img src="assets/images/banner/Full_Logo_Colour.jpg" class="cic-logo" />
					{% for page in site.data.home_page.home_page %}
					<p class="h6 mb-4 font-weight-normal d-none d-sm-block" style="color: #343a40;">{{ page.welcome_sub_title }} </p>
					{% endfor %}

					
					<div class="d-flex flex-wrap mb-sm-10">
						<a class="btn btn-grad btn-lg tile-btn mr-1" href="{{'/residents' | prepend:site.baseurl }}">Residents</a>
						<a class="btn btn-grad btn-lg tile-btn mr-1" href="{{'/health-professionals' | prepend:site.baseurl }}">Health Professionals</a>
					</div>

			
					
				</div>
				<!-- banner image -->
				<div class="col-md-6 d-none d-md-block p-0 position-absolute top-0 right-0 align-top align-text-top">
					<figure class="w-100 ie-height-750">
						<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1290 1024" style="enable-background:new 0 0 1290 1024;" xml:space="preserve">
							<g id="XMLID_81_">
								<defs>
								<path id="XMLID_3_" d="M1290,0v1024c0,0-229.8-152.2-550-52.9C467.3,1055.7-22.5,927.6,47.8,540C120.4,139.6,17,0,17,0H1290z"/>
								</defs>
								<clipPath id="XMLID_83_">
								<use xlink:href="#XMLID_3_"  style="overflow:visible;"/>
								</clipPath>
								<g style="clip-path:url(#XMLID_83_);">
									<!-- Set your 1290px X 1024px image below -->
									<image style="overflow:visible;" id="XMLID_82_" xlink:href="assets/images/banner/32.jpg"  transform="matrix(0.9999 0 0 0.9999 8.063897e-002 6.401104e-002)">
									</image>
								</g>
							</g>
						</svg>
					</figure>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Main banner -->
	
	<!-- <section class="py-5" style="background-color: orange;">
		<div class="container" >
			<div class="row">
				<div class="col-md-9 text-center text-md-left align-self-center">
					<h4 class="m-0">Want to get in touch and get more info?</h4>
				</div>
				<div class="col-md-3 text-center text-md-right mt-3 mt-md-0 align-self-center ">
					<a class="btn btn-outline-dark mb-0" href="/contact-us">Contact Us </a>
				</div>
			</div>
		</div>
	</section> -->
	<!-- =======================
	Portfolio -->


	<!-- =======================
	start footer  -->
	{% include footer.html %}
	<!-- =======================
	end footer  -->

</body>
</html>
