<!doctype html>
<html lang="en">
{% include header.html %}

<body style="background-color: whitesmoke !important">
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	<header class="header-static navbar-sticky navbar-light">
	<!-- Logo Nav Start -->
		{% include logonav.html %}
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->
		

	<!-- =======================
	careers -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6 text-nowrap font-weight-bold text-center">
					{% for page in site.data.kcsc_directory_page.kcsc_directory_page %}
						<h3>{{ page.helper_text }}</h3>
					{% endfor %}
				</div>
			</div>
			<div class="row clearfix">
				<!-- Job positions -->
				<div class="col-md-12">
					<iframe src="https://https://kcsc.agileventures.org/?iframe=all" width="100%" height="1000"> </iframe>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	careers -->

	{% include footer.html %}

</body>
</html>