<!doctype html>
<html lang="en">
	{% include header.html %}

<body>
	<!-- <div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div> -->

	<!-- =======================
	header Start-->
	<header class="header-static navbar-sticky navbar-light">
		<!-- Logo Nav Start -->
			{% include logonav.html %}	
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	About us -->
	

	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner center bg-overlay-dark-4 py-7" style="background:url(assets/images/selfcare-poster.jpg) no-repeat; background-size:cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					

					{% for item in site.data.news_article_two.news_article_two %}
						<h1 class="innerpage-title">{{ item.title }}</h1>
						<h6 class="subtitle">
						<p> {{ item.subtitle }}</p>
					{% endfor %}
					</h6>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active"><a href="index.html"><i class="ti-home"></i> Home</a></li>
							<li class="breadcrumb-item">News Article Two</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	blog -->
	<section class="blog-page">
		<div class="container">
			<div class="row">
				<!-- blog start -->
				<div class="col-md-8 mx-auto">
					<!-- Post item  with image-->
					<div class="post-item">
						<div class="post-item-wrap">
							<div class="post-item-desc">
								{% for item in site.data.news_article_two.news_article_two %}
									<p> {{ item.text | markdownify }}</p>
								{% endfor %}
							</div>
						</div>
					</div>
					<!-- blog End -->


					<!-- tag and share -->
					<div class="divider mb-4"></div>
					<div class="row">
						<div class="col-12 col-sm-4 text-center text-sm-right">
							<ul class="social-icons si-colored-bg light">
								<li class="social-icons-item mb-2 social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="social-icons-item mb-2 social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="social-icons-item mb-2 social-gplus"><a class="social-icons-link" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="social-icons-item mb-2 social-linkedin"><a class="social-icons-link" href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="divider mt-3"></div>

					<!-- author info -->
					<div class="row mt-5">
						<div class="col-12">
							<!-- Comment-->
							<div class="author-info bg-light">
								<div class="author-img"><img class="avatar" src="assets/images/thumbnails/avatar-03.jpg" alt="avatar"></div>
								<div class="author-info-body">
									{% for item in site.data.news_article_two.news_article_two %}
										<h4 class="author-name mb-3 mt-2">Posted by <a href="#">{{ item.author}}</a></h4>
										<p class="m-0">{{ item.about_author }} </p>
									{% endfor %}
								</div>
							</div>
							<!-- Comment-->
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- blog End -->
	</section>
	<!-- =======================
	blog -->

	{% include footer.html %}
	
<!-- =======================
	action box -->
</body>
</html>