<!doctype html>
<html lang="en">
	{% include header.html %}

<body>
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	<header class="header-static navbar-sticky navbar-light">
		<!-- Logo Nav Start -->
			{% include logonav.html %}	
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	About us -->
	

	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner center bg-overlay-dark-4 py-7" style="background:url(assets/images/selfcare-poster.jpg) no-repeat; background-size:cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="innerpage-title">News Items</h1>
					<h6 class="subtitle">

						{% for professional in site.data.health_professionals.health_professionals %}
					<p> {{ professional.sub_title }}</p>
					{% endfor %}
					</h6>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active"><a href="index.html"><i class="ti-home"></i> Home</a></li>
							<li class="breadcrumb-item">News Items</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	blog -->
	<section class="blog-page pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 blog-grid blog-grid-3 portfolio-wrap" data-isotope='{ "itemSelector": ".post-item", "layoutMode": "fitRows" }'>
					<!-- Post item  with image-->
					<div class="row">
						<div class="post-item">
							<div class="post-item-wrap">
								<div class="post-image">
									<a href="{{"news-article" | prepend:site.baseurl }}"> <img src="assets/images/blog/grid/01.jpg" alt=""> </a>
									<span class="post-meta-category bg-grad"><a href="#">Blog Image</a></span>
								</div>
								<div class="post-item-desc">
									<span class="post-meta">Jan 21,</span>
									<span class="post-meta"><a href="#">Admin,</a></span>
									<span class="post-meta"><a href=""><i class="ti-comment-alt"></i>06 Comments</a></span>
									<h4><a href="{{"news-article" | prepend:site.baseurl }}">The Stories Behind those Iconic Blogs</a></h4>
									<p>Six started far placing saw respect females old. <strong>Civilly why how end viewing</strong> attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day.</p>
									<a href="#" class="item-link">Continue reading<i class="ti-minus"></i></a>
								</div>
							</div>
						</div>

						<!-- Post item with 2 video-->
						<div class="post-item">
							<div class="post-item-wrap">
								<div class="post-image">
									<a href="#"> <img src="assets/images/blog/grid/01.jpg" alt=""> </a>
									<span class="post-meta-category bg-grad"><a href="#">Blog Image</a></span>
								</div>
								<div class="post-item-desc">
									<span class="post-meta">Jan 21,</span>
									<span class="post-meta"><a href="#">Admin,</a></span>
									<span class="post-meta"><a href=""><i class="ti-comment-alt"></i>06 Comments</a></span>
									<h4><a href="#">The Stories Behind those Iconic Blogs</a></h4>
									<p>Six started far placing saw respect females old. <strong>Civilly why how end viewing</strong> attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day.</p>
									<a href="#" class="item-link">Continue reading<i class="ti-minus"></i></a>
								</div>
							</div>
						</div>
						<!-- Post item with 2 video-->
						<div class="post-item">
							<div class="post-item-wrap">
								<div class="post-image">
									<a href="#"> <img src="assets/images/blog/grid/01.jpg" alt=""> </a>
									<span class="post-meta-category bg-grad"><a href="#">Blog Image</a></span>
								</div>
								<div class="post-item-desc">
									<span class="post-meta">Jan 21,</span>
									<span class="post-meta"><a href="#">Admin,</a></span>
									<span class="post-meta"><a href=""><i class="ti-comment-alt"></i>06 Comments</a></span>
									<h4><a href="#">The Stories Behind those Iconic Blogs</a></h4>
									<p>Six started far placing saw respect females old. <strong>Civilly why how end viewing</strong> attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day.</p>
									<a href="#" class="item-link">Continue reading<i class="ti-minus"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="post-item">
							<div class="post-item-wrap">
								<div class="post-image">
									<a href="#"> <img src="assets/images/blog/grid/01.jpg" alt=""> </a>
									<span class="post-meta-category bg-grad"><a href="#">Blog Image</a></span>
								</div>
								<div class="post-item-desc">
									<span class="post-meta">Jan 21,</span>
									<span class="post-meta"><a href="#">Admin,</a></span>
									<span class="post-meta"><a href=""><i class="ti-comment-alt"></i>06 Comments</a></span>
									<h4><a href="#">The Stories Behind those Iconic Blogs</a></h4>
									<p>Six started far placing saw respect females old. <strong>Civilly why how end viewing</strong> attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day.</p>
									<a href="#" class="item-link">Continue reading<i class="ti-minus"></i></a>
								</div>
							</div>
						</div>

						<!-- Post item with 2 video-->
						<div class="post-item">
							<div class="post-item-wrap">
								<div class="post-image">
									<a href="#"> <img src="assets/images/blog/grid/01.jpg" alt=""> </a>
									<span class="post-meta-category bg-grad"><a href="#">Blog Image</a></span>
								</div>
								<div class="post-item-desc">
									<span class="post-meta">Jan 21,</span>
									<span class="post-meta"><a href="#">Admin,</a></span>
									<span class="post-meta"><a href=""><i class="ti-comment-alt"></i>06 Comments</a></span>
									<h4><a href="#">The Stories Behind those Iconic Blogs</a></h4>
									<p>Six started far placing saw respect females old. <strong>Civilly why how end viewing</strong> attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day.</p>
									<a href="#" class="item-link">Continue reading<i class="ti-minus"></i></a>
								</div>
							</div>
						</div>
						<!-- Post item with 2 video-->
						<div class="post-item">
							<div class="post-item-wrap">
								<div class="post-image">
									<a href="#"> <img src="assets/images/blog/grid/01.jpg" alt=""> </a>
									<span class="post-meta-category bg-grad"><a href="#">Blog Image</a></span>
								</div>
								<div class="post-item-desc">
									<span class="post-meta">Jan 21,</span>
									<span class="post-meta"><a href="#">Admin,</a></span>
									<span class="post-meta"><a href=""><i class="ti-comment-alt"></i>06 Comments</a></span>
									<h4><a href="#">The Stories Behind those Iconic Blogs</a></h4>
									<p>Six started far placing saw respect females old. <strong>Civilly why how end viewing</strong> attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day.</p>
									<a href="#" class="item-link">Continue reading<i class="ti-minus"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	blog -->

	{% include footer.html %}
	
<!-- =======================
	action box -->
	<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!--Vendors-->
	<script src="assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>
	<script src="assets/vendor/jquery-countTo/jquery.countTo.js"></script>
	<script src="assets/vendor/jquery-appear/jquery.appear.js"></script>
	<script src="assets/vendor/wavify/wavify.js"></script>

	<!--Template Functions-->
	<script src="assets/js/functions.js"></script>

</body>
</html>