<!doctype html>
<html lang="en">
{% include header.html %}

<body>
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	<header class="header-static navbar-sticky navbar-light">
		<!-- Logo Nav Start -->
		{% include logonav.html %}
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->


	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner center bg-overlay-dark-4 py-7"
		style="background:url(assets/images/selfcare-poster.jpg) no-repeat; background-size:cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="innerpage-title">Residents</h1>
					<h6 class="subtitle">Some text about the residents here</h6>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active"><a href="index.html"><i class="ti-home"></i> Home</a>
							</li>
							<li class="breadcrumb-item">Residents</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	careers -->
	<section>
		<div class="container">

			<div class="row">

				<!-- column 1 -->
				<div class="col-md-4">
					<!-- title -->
					{% for res in site.data.residents_tile_extra_0.residents_tile_extra_0 %}
					{% if res.display %}
					<div class="bg-light p-4 p-lg-5 mb-5 grey-tile" style="min-height: 400px;">
						<span class="display-5 icon-dark"><i class="ti-ruler-pencil"></i></span>
						<br />
						{% if res.title_is_a_link %}
						<a href="{{ res.link_title_to }}">{{ res.title }}</a>
						{% else %}
						<h5>{{ res.title }}</h5>
						{% endif %}
						<p class="mb-0">{{ res.text }}</p>
					</div>
					{% endif %}
					{% endfor %}
					<!-- title -->
					{% for res in site.data.residents_tile_extra_2.residents_tile_extra_2 %}
					{% if res.display %}
					<div class="bg-light p-4 p-lg-5 mb-5 grey-tile" style="min-height: 400px;">
						<span class="display-5 icon-dark">
							<i class="ti-ruler-pencil"></i>
						</span>
						<br />
						{% if res.title_is_a_link %}
						<a href="{{ res.link_title_to }}">{{ res.title }}</a>
						{% else %}
						<h5>{{ res.title }}</h5>
						{% endif %}
						<p class="mb-0">{{ res.text }}</p>
					</div>
					{% endif %}
					{% endfor %}
				</div>

				<!-- column 2 -->
				<div class="col-md-4">
					{% for res in site.data.kcsc_directory.kcsc_directory %}
					{% if res.display %}
					<div class="bg-light p-4 p-lg-5 mb-5 grey-tile" style="min-height: 400px;">
						<span class="display-5 icon-dark"><i class="ti-world"></i></span>
						<br />
						{% if res.title_is_a_link %}
						<a href="{{ res.link_title_to }}">{{ res.title }}</a>
						{% else %}
						<h5>{{ res.title }}</h5>
						{% endif %}
						<p class="mb-0">{{ res.text }}</p>

					</div>
					{% endif %}
					{% endfor %}
					{% for res in site.data.residents_tile_extra_3.residents_tile_extra_3 %}
					{% if res.display %}
					<div class="bg-light p-4 p-lg-5 mb-5 grey-tile" style="min-height: 400px;">
						<span class="display-5 icon-dark"><i class="ti-ruler-pencil"></i></span>
						<br />
						{% if res.title_is_a_link %}
						<a href="{{ res.link_title_to }}">{{ res.title }}</a>
						{% else %}
						<h5>{{ res.title }}</h5>
						{% endif %}
						<p class="mb-0">{{ res.text }}</p>
					</div>
					{% endif %}
					{% endfor %}

				</div>

				<!-- column 3 -->
				<div class="col-md-4">
					<!-- service item -->
					{% for res in site.data.residents_tile_extra_1.residents_tile_extra_1 %}
					{% if res.display %}
					<div class="bg-light p-4 p-lg-5 mb-5 grey-tile" style="min-height: 400px;">
						<span class="display-5 icon-dark"><i class="ti-map"></i></span>
						<br />
						{% if res.title_is_a_link %}
						<a href="{{ res.link_title_to }}">{{ res.title }}</a>
						{% else %}
						<h5>{{ res.title }}</h5>
						{% endif %}
						<p class="mb-0">{{ res.text }}</p>
					</div>
					{% endif %}
					{% endfor %}

					{% for res in site.data.residents_tile_extra_4.residents_tile_extra_4 %}
					{% if res.display %}
					<div class="bg-light p-4 p-lg-5 mb-5 grey-tile" style="min-height: 400px;">
						<span class="display-5 icon-dark"><i class="ti-map"></i></span>
						<br />
						{% if res.title_is_a_link %}
						<a href="{{ res.link_title_to }}">{{ res.title }}</a>
						{% else %}
						<h5>{{ res.title }}</h5>
						{% endif %}
						<p class="mb-0">{{ res.text }}</p>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	careers -->

	{% include footer.html %}

</body>

</html>